MSSQL_SA_PASSWORD=YourStrong!Passw0rd
ELASTIC_PASSWORD=-Wf7VLv*gNLAHKOlomOf
KIBANA_PASSWORD=0IsYDPDmQ4Wk5ptS-Qm8
ELASTIC_APM_SECRET_TOKEN=dev-apm-token-change-me
GRAFANA_ADMIN_PASSWORD=ChangeThisGrafanaPassword
